<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django tutorial</title>
</head>
<body>
    <h1>hello</h1>
    <h1>salary database</h1>
<table>
  <tr>
    <th>S. NO.</th>
    <th>Name</th>
    <th>Age</th>
    <th>salary</th>
    <th>can vote</th>
  </tr>
  {% for people in peoples %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
    <td>{{people.salary}}</td>
    <td  style="{% if people.age >= 18 %} background-color:green;{% else %}background-color:red;{% endif %}">
        {% if people.age >= 18 %} 
        👍
        {% else %}
        👎
        {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
<style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 6px;
  }
</style>
</body>
</html> 